{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    
    <header>
        <a href="{% url "home:index" %}">Movies</a>
        <a href="{% url "blog:index" %}">Blog</a>
        <a href="{% url "blog:words" %}">Words</a>
        <a href="{% url "blog:notes" %}">Notes</a>
        <a href="{% url "blog:about" %}">About</a>
    </header>
    {% block content %}

    {% endblock content %}
    
</body>
</html>