{% extends "blog/blog_base.html" %}
{% load static %}

<div class="container">
{% block content %}
<a href="{% url "home:index" %}">Home</a>
<a href="{% url "blog:words" %}">Words</a>
<a href="{% url "blog:notes" %}">Notes</a>

    
    <h1>
        Delightful Greece Blog.
    </h1>
<p>
    Blog about the beauty of Greece. The possibilities and the hopes of Greek people. What we can become in this land given to us by Devine Providence.

    Deli Greece is about giving possibility to the Greek Producer to reach as many people as possible directly. The visitor has the possibility to see variaety of products, to get to know the producer and the information of purchasing the products.
</p>
<p>
    Blogging is a powerful marketing tool. It is a great way to attract potential customers to a website. But no matter how perfect your grammar or interesting your topic is, if no one reads it, then it is just as if it was never there at all. So, it is vital that you make your posts engaging enough to hook your readers and respond to your call-to-action. This is when your copywriter side will come in handy.
</p>

<h1>
    The 4Us Formula
</h1>
<p>
   
<br>
 <b>Useful</b> - If your article has no value to the reader, then they will not read it. Make sure that you write a topic that offers something of great value or targets their pain points. Make your reader realize that your copy provides a solution to their problem or answers their question. What is it that your reader is going to gain by reading your text? Always bear in mind the <b>WIIFM (Whats In It For Me)</b> rule, at every moment and with every hoop you make them go through.
<br>
 <b>Unique</b> - While your topic may be similar to several other blogs on the internet, you can still make your posts stand out and be different by adding a little personality, humor, or something that can arouse interest. Surprise them, pique their interest, share a piece of information they never heard of before.
<br>
<b>Urgency</b> - Create a blog post with a sense of urgency. Your copy should be compelling enough to encourage them to act after reading it. Motivate your reader and convince them that time is of the essence and that they should act now.
<br>
<b>Ultra</b>-Specific - Avoid using vague topics. Be specific and narrow down your topic[…]

</p>

<h1>The AIDA Formula</h1>

<p>
    <b>Attention</b> - Catchy, and attention-grabbing headlines. Your entire content will be useless if you fail to hook your potential customer from your headline. Don’t take for granted the power of a well-crafted headline.
<br>
<b>Interest</b> - Arouse your reader’s interest by writing something relatable to their problems or experiences. From opening to the last sentence, you have to keep the momentum going. Keep them wanting for more. Your post should exude with energy that the reader is motivated to read on. Deliver on the promise you made on your headline so they will keep coming back.
<br>
<b>Desire</b> - Make your target audience want to read your article and crave for more.  Tap into their emotions and connect with their feelings. Make them want what you are offering or do what you want them to do. Depending on your goal for your post, it should be convincing enough to want what you are pitching. Again, the benefit factor will be all that matters in the end.  
<br>
<b>Action</b> - Include a call-to-action on your post. It can be as simple as asking a question that will prompt your readers to comment or participate in a discussion. Engage your reader. You have to[…]


</p>

<h1>The Landing Page</h1>
<p>
   

    It is a stand-alone web page created specifically for marketing and sales intentions. When your prospective customer clicks on your ad or link, this where you will send them. Typically to generate leads by collecting their names and email, or get the sales right then and there! It should be simple and clutter-free. There are limited navigation buttons or links, which is what makes it different from a basic home page. A website can have many different versions of a sales letter.
Landing pages usually use a lead bait to capture your visitor’s information such as a free e-book they give away in exchange for the email.
<br>
<b>Why a Landing Page?</b><br>
The landing page has a single purpose and objective. Convert your visitor into a lead, or make the sale, or any other call to action. They tend to convert more than a homepage because they target a specific audience.
A Homepage is generic and cluttered with links and unnecessary information that your targeted audience won’t need. Sending them to your home page will only confuse and disappoint your potential lead because it does not contain the information they need to complete your Call-To-Action.

<br>

<b>Be Clear and Concise</b><br>
Be brief and as concise as possible. Do not flood your page with vague and unnecessary information. Your instructions should be clear as well. It will not help your prospect see the value of your offer if you are making them guess on the next steps to take. Worse, they might ultimately abandon your landing page.

<br>
<b>Limited Navigation</b><br>
A good landing page should have limited to no navigation at all. They should be kept to just one page and don’t make them exit and enter another page. This will only distract and negatively impacts the visitor’s experience. The only time that you will lead your visitor to another page or link is when you are taking them to your CTA.

<br>
<b>One Goal</b><br>
<i>Your landing page should only have one goal.</i>  Including one too many call-to-actions on your landing page will rob each other’s conversion. It is better to create another landing page for your other conversion goal.


</p>


    <hr>
    <i>
        ***Excerpts From
        The Ultimate Copywriting Guide for Beginners to Advanced
        Neil Hoechlin
        This material may be protected by copyright.
    </i>
    


{% endblock content %}
</div>