{% extends "blog/blog_base.html" %}

{% load static %}

{% block content %}
<div class="container">

    <h1>Stategy</h1>
    <p>
      

This new opportunity is the key to their
desire and it’s only attainable through my new
mechanism.
That’s your mission. Write it down.
<br>
As you can see, you can break the one belief
down into three main elements: the new opportunity,
your prospect’s desire, and the new mechanism. Let’s
dig deeper into each one.
<br>
The new opportunity is what makes your idea
unique, your unique selling proposition (USP). If you
don’t have one, your idea is worthless.
    </p>

    <p>
      A fresh chance, a brand-new possibility of success where only disappointment has resulted before.
    </p>

    <p>
      <b>
        The new opportunity reveals WHAT is unique about your solution, the new mechanism reveals HOW it works. 
      </b>
      <p>
        <i>
          Once you know your new opportunity, your customer’s desire, and your new mechanism, you’re ready to write down your one belief.
        </i>
      </p>
    </p>
    <p>
      <h2>Personal notice</h2>
      <p>
        Everybody have a desire for high quality products. Everybody want to trust the origins and production. The best way is to fulfill your desire is to get to know the producer of the products you desire and to have them delievered by the producer. This is the only way that you will know what you buy and whom you buy it from. 
      </p>


      <p class="greek">
        <p class="greek-center">
          Θελετε να εχετε προιοντα υγιεινα και ποιοτικα στο τραπεζι σας; <br>

          Θελετε να γνωριζετε την προελευση των προιοντων; <br>
  
          Θελετε να γνωριζετε τον ανθρωπο η τους ανθρωπους που με αγαπη δημιουργησαν το προιον που επιθυμειτε; <br>
  
        </p>
        
        Καλω ηρθατε στον ιστοτοπο Deli Greece. Ενας χωρος οπου θα βρειτε υγiεινα και ποιοτικα προιοντα, θα γνωρισετε τους παραγωγους και την προελευση των προιοντων.
        <br>

        Ολοι αναζητουμε προιοντα υψηλης ποιοτητας. Η σωστη διατροφη ειναι μια βασικη προυποθεση για την σωστη υγεια για να ανταπεξελθουμε στις καθημερινες απαιτησεις. <br>
         Θελουμε να εμπιστευομαστε την προελευση και την παραγωγη των προιοντων που αγοραζουμε. <br>
          Ο καλυτερος τροπος να ικανοποιησουμε την επιθυμια μας ειναι να γνωρισουμε τον παραγωγο, τον κατασκευαστη του προιοντος που θελουμε. Ειναι ο μονος τροπος να γνωριζουμε τι αγοραζουμε και απο ποιον.
        <br>

        Γοητευτικη Ελλαδα - Delightful Greece εινα ο ιστοτοπος που παρουσιαζει τον παραγωγο και τα προιοντα της παραγωγης στον επισκεπτη. 
        
        <br>

        Σας προσφερei την ευκαιρια να γνωρισεται του ανθρωπους που με μερακι και μοχθο σας προσφερουν τα προιοντα τους στις καλυτερες τιμες της αγορας και με μια μοναδικη εγγυηση, την εμπιστοσυνη στον παραγωγου. <br>
        Δεν ειναι ενας ακομα ιστοτοπος με προιοντα αλλα η δημιουργια μιας σχεσης που θα σας προσφερει προιοντα ποιοτητας που τοσο αναζητατε στη ζωη σας. 
      
      </p>
    </p>


      <section>
        <h2>What's in it for me?</h2>
        <p>
          What the visitor and the producer gain from Deli Greece.
        </p>
      </section>
    <p>
      Ultimate Goal of Deli Greece is to increase the amount of producers and visitors signed and to keep high percentage of visitors on email list. 

        It is to attract the interest of more producers, not only farmers but also of those of smaller or bigger workshops in order to promote their products.

        The ultimate goal is the marketing promotion and consulting of the brand.
        (Brand can be anything form beans and honey to t-shirts and shows and hotels.)

        How do we see the product?
        The product have to be presented on the page in a attractive way, with key words describing the product and prossibility for further information.
        The price and purchasing details must be clear and consise. 
        Contact information of the producer (only registered producers can publish their products) must be detailed and clear. 


        <h2>
            This new opportunity is the key to their desire and it’s only attainable through my new mechanism.
        </h2>
        <p>
            What is the new opportunity? <br>
            It is the promotion of the product throught the pages of Deli Greece.
            What is their desire? It is to get more customers and sell more of the product. 
            Deli Greece is providing the unique possibility of promoting their product in order to increase sales.
        </p>
    </p>
    <p>
        Strategy is a style of thinking, a conscious and deliberate process, an intensive implementation system, the science of ensuring future success. <br>—Pete Johnson, British businessman

      </p>

      <hr>
      <p>
        “If I had asked people what they wanted, they would have said faster horses. <br>—Henry Ford, founder, Ford Motor Company”

      </p>
      <hr>
      <p>
        It must be borne in mind that the tragedy in life doesn’t lie in not reaching your goal. The tragedy lies in having no goal to reach. . . .It is not a disgrace not to reach the stars, but it is a disgrace to have no stars to reach for. <b> Not failure, but low aim is sin.</b> <br>
        —Benjamin E. Mays, minister, educator, scholar, social activist.
      </p>
      <hr>
      <p>
        “One of the main obstacles to thinking big is the inability to outgrow your environment.”

      </p>
      <p>
        “Many entrepreneurs lack the motivation to pursue big ideas.”

      </p>

      <p>
      
        When you write a sales letter, you also must have a Commander’s Intent. And that’s exactly what “the one belief” is. It describes the ultimate goal of the sales letter.
      </p>

      <p>
        A producer will pay a small amount for including their product in newsletters.
        With information about proce and purchasing alternatives the the producer will provide in details.
      </p>

      <p>
        1. Make Haste slowly 2. Strong mind, strong body 3.struggle makes you stronger 4. Love fate 5. Know possibilities, Prepare for the worst 6.character is fate 7. Remember you are mortal.
      </p>

      <hr>
      <section>
        <h1>Questions</h1>

        <div class="question">
          <h2>How is this different from everythong else I've seen?</h2>
          <p>
            You must begin to explain what the new opportunity is. Remember, if your idea is not unique, it's useless.
            By idea I mean the way the product will be introduced. It is the presentation of the product that is IDEA, not the product itself. Your product is the Idea of presenting something and this must be unique.
          </p>
        </div>
      </section>
</div>
        
{% endblock content %}