{% extends "blog/blog_base.html" %}

{% load static %}

{% block content %}
<div class="container">
    <h1>Stategy</h1>
    <p>
      

This new opportunity is the key to their
desire and it’s only attainable through my new
mechanism.
That’s your mission. Write it down.

    </p>
    <p>
      Ultimate Goal of Deli Greece is to increase the amount of producers and visitors signed and to keep high percentage of visitors on email list. 

        It is to attract the interest of more producers, not only farmers but also of those of smaller or bigger workshops in order to promote their products.

        The ultimate goal is the marketing promotion and consulting of the brand.
        (Brand can be anything form beans and honey to t-shirts and shows and hotels.)

        How do we see the product?
        The product have to be presented on the page in a attractive way, with key words describing the product and prossibility for further information.
        The price and purchasing details must be clear and consise. 
        Contact information of the producer (only registered producers can publish their products) must be detailed and clear. 


        <h2>
            This new opportunity is the key to their desire and it’s only attainable through my new mechanism.
        </h2>
        <p>
            What is the new opportunity? <br>
            It is the promotion of the product throught the pages of Deli Greece.
            What is their desire? It is to get more customers and sell more of the product. 
            Deli Greece is providing the unique possibility of promoting their product in order to increase sales.
        </p>
    </p>
    <p>
        Strategy is a style of thinking, a conscious and deliberate process, an intensive implementation system, the science of ensuring future success. <br>—Pete Johnson, British businessman

      </p>

      <hr>
      <p>
        “If I had asked people what they wanted, they would have said faster horses. <br>—Henry Ford, founder, Ford Motor Company”

      </p>
      <hr>
      <p>
        It must be borne in mind that the tragedy in life doesn’t lie in not reaching your goal. The tragedy lies in having no goal to reach. . . .It is not a disgrace not to reach the stars, but it is a disgrace to have no stars to reach for. <b> Not failure, but low aim is sin.</b> <br>
        —Benjamin E. Mays, minister, educator, scholar, social activist.
      </p>
      <hr>
      <p>
        “One of the main obstacles to thinking big is the inability to outgrow your environment.”

      </p>
      <p>
        “Many entrepreneurs lack the motivation to pursue big ideas.”

      </p>

      <p>
      
        When you write a sales letter, you also must have a Commander’s Intent. And that’s exactly what “the one belief” is. It describes the ultimate goal of the sales letter.
      </p>

      <p>
        A producer will pay a small amount for including their product in newsletters.
        With information about proce and purchasing alternatives the the producer will provide in details.
      </p>
</div>
        
{% endblock content %}