{% extends "blog/blog_base.html" %}
{% load static %}

{% block content %}
<a href="{% url "blog:index" %}">Home</a>
<div class="container">



Words to use in your headlines, offers and calls to action.
Words about newness ( from https://www.copywritematters.com/copywriter-words-that-sell/ )
1. You

2. Because


3. Introducing

4. Welcome

5. Unique

6. Announcing

7. Breakthrough

8. Surprising

9. Exciting

10. Astounding

Words about exclusivity

11. Special

12. Secret

13. Hidden

14. Truth

15. Temptation

16. Forbidden

17. Never

18. Revealed

19. Exclusive

20. Limited

Words about urgency

21. Now

22. Discover

23. New

24. Results

25. Only

26. Direct

27. Hurry

28. Quick

29. Fast

Words that reassure

30. Can

31. Guarantee

32. Proven

33. Easy

34. Care

35. Simple

36. Safety

37. Lifetime

Words about caring

38. Family

39. Love

40. Children

41. Heaven

42. Dream

43. Health

Words about saving

44. Save

45. Money

46. Win

47. Cheap

48. Free

49. Reduced

50. Bargain

51. Bonus

52. Discount

53. Lowest

Words about pain

54. Hate

55. Failure

56. Afraid

57. Lazy

58. Humiliation

59. Alone

60. Reject

61. Stress

62. Stupid

63. Guilty

</div>

{% endblock content %}